{#
{% use 'bootstrap_5_layout.html.twig' %}

{% block form_widget_simple %}
    <div class="some-custom-class">
        {{ parent() }}
    </div>
{% endblock %}

{% block widget_attributes %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' SUPER-WAWAN')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' COUCOU')|trim}) %}
    {{ parent() }}
{% endblock form_label %}

#}