{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <p>
        Un e-mail contenant un lien de réinitialisation du mot de passe vous a été envoyé, consultez votre boîte !
        Déppêchez-vous, ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'e-mail, consultez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez.</a>.</p>
{% endblock %}
